[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
pydantic = "*"
pyyaml = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
setuptools = "*"
build = "*"
types-tqdm = "*"
autopep8 = "*"
twine = "*"
types-pyyaml = "*"

[requires]
python_version = "3.9"
